.content-wrapper {
	margin: 0;
	padding: 0;
	margin-top: 85px;
	margin-left: 125px;
	position: absolute;
	z-index: 1;
}
.row {
	display: flex;
	flex-flow: row nowrap;
	height: 200px;
	width: auto;
	margin: 0 0 20px 0;
}
.blurb, .thumb {
	width: 200px;
	height: 200px;
	margin-right: 30px;
	overflow: hidden;
}
.blurb {
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f8f8f8;
}
.thumb img {
	width: 100%%;
	height: auto;
	cursor: pointer;

	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
	transition: filter .15s ease, opacity .15s ease;
}
.thumb img:hover {
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}
@media all and (max-width: 525px) {
	.content-wrapper {
		margin-left: 50px;
	}
}